
.container{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.container h2{
    margin-top: 80px;
    margin-bottom: 40px;
}

.container h3{
    color: white;
    margin-bottom: 30px;
}

.container p{
    color: #D0D0D0;
    margin-bottom: 30px;
}

.container a{
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: #D0D0D0;
}

.card{
    background-color: #d9d9d941;
    padding: 50px;
    border-radius: 15px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContent{
    width: 50%;
}

.textContentIcons{
    display: flex;
    margin-bottom: 30px;
}

.textContentIcons img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.imgContent{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContent img{
    width: 30vw;
    border-radius: 5px;
}